<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (c) 2015. Healthcare Services Platform Consortium. All Rights Reserved. -->

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd"
       default-lazy-init="false">

    <!-- Security Configuration -->
    <!--<import resource="classpath:/org/hspconsortium/platform/util/applicationContext-rest.xml"/>-->
    <!--<import resource="securityContext-open.xml"/>-->
    <!--&lt;!&ndash;<import resource="securityContext.xml"/>&ndash;&gt;-->

    <!--&lt;!&ndash; Configuration properties location &ndash;&gt;-->
    <!--<context:property-placeholder location="classpath:config/api.properties"/>-->

    <bean id="webAuthorizer" class="org.hspconsortium.platform.util.WebAuthorizer">
        <property name="httpClient" ref="httpClient" />
    </bean>

    <bean id="httpClient" class="org.apache.http.impl.client.DefaultHttpClient">
    </bean>

</beans>